.authInput {
    max-width: 340px;
    width: 100%;
    padding: 10px;
    padding-left : 20px;
    padding-right : 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 14px;
    color: black;
}
  
.authSubmit {
    max-width: 360px;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background: #04aaff;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
  
.authError {
    color: tomato;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
  
.authSwitch {
    color: #04aaff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}